# Ignore folders
.typings/*

# Don't ignore folders on .typings for
# http_client, wifi_connect, localtime, and ota_updater
!.typings/http_client
!.typings/wifi_connect
!.typings/localtime
!.typings/ota_updater

config.json
