# Ignore folders
.typings/*

# Don't ignore folders on .typings for custom modules
!.typings/http_client
!.typings/wifi_connect
!.typings/localtime
!.typings/updater
!.typings/device_handler

config.json
